{% extends '2_cols.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}{{ article.intro }}{% endblock %}

{% block left %}
    <div class="article">
        <div class="article-pathway">
            <a href="#">Главная</a>&nbsp;/&nbsp;<a href="#">Чтиво</a>&nbsp;/&nbsp;<a href="#">Истории</a>
        </div>
        <div class="article-head clear-block">
            <div class="article-date">{{ article.created }}</div>
            <div class="article-views">{{ article.views }}</div>
        </div>
        <h1>{{ article.title }}</h1>
        <div class="social"><em>Кнопки социальных сетей</em></div>
        <div class="lid">
            {{ article.intro }}
        </div>
        <div class="article-bigfoto"><!--<div class="article-minifoto">-->
            <img width="100%" src="images/new-big7.jpg">
        </div>
        <div class="article-text">
            {{ article.text|safe }}
        </div>
        <div class="article-footer">
            Автор:
            {% for autor in article.authors.all %}
                {{ autor.name }} {{ autor.last_name }}
            {% endfor %}
        </div>
        <div class="tags clear-block">
            <ul>
            {% for tag in article.tags.all %}
                <li><a href="{% url 'articles:tag' tag.slug %}">#{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% if related_article_list %}
        <div class="list">
            <h3>Новости по теме</h3>

            {% for related_article in related_article_list %}
                <div class="list-element clear-block">
                    <div class="list-element-foto">
                        <img width="100%" src="images/new-big8.jpg">
                    </div>
                    <div class="list-element-info">
                        <a class="list-element-title" href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a>
                        <div class="list-element-category">
                            <a href="{{ related_article.category.get_absolute_url }}">{{ related_article.category.title }}</a>
                        </div>
                        <div class="list-element-lid">{{ related_article.intro }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block right %}
    <div class="top-block block">
        <h3>Топ новостей</h3>
        {% for articles_top in articles_top_list %}
            <div class="top-new">
                <span>{{ articles_top.created }}</span> 
                <a href="{{ articles_top.get_absolute_url }}">
                    {{ articles_top.title }} ({{ articles_top.views }})
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="recomendation-block block clear-block">
        <h3>Самое свежее</h3>
        {% for articles_last in articles_last_list %}
            <div class="element-colomn  auto-height">
                <div class="new-colomn">
                    <div class="new-foto">
                        <img width="100%" src="images/new-big7.jpg">
                        <div class="pix"></div>
                        <div class="new-title">{{ articles_last.title }}</div>
                        <a class="new-link" href="{{ articles_last.get_absolute_url }}"></a>
                    </div>
                    <div class="new-info">{{ articles_last.intro }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}