{% extends '2_cols.html' %}

{% load common_tags %}
{% load sorl_thumbnail %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}{{ article.intro }}{% endblock %}

{% block meta_sicial %}
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:description" content="{{ article.intro }}" />
    <meta property="og:image" content="{% current_host %}{{ article.cover.url }}" />
    <meta property="og:url" content="{% current_host %}{{ article.get_absolute_url }}" />
    <meta property="og:site_name" content="Bizon.News" />
{% endblock %}



{% block left %}
    <div class="article">
        <div class="article-pathway">
            <a href="/">Главная</a>
            /
            {% for ancestor_category in article.category.get_ancestors %}
                <a href="{{ ancestor_category.get_absolute_url }}">{{ ancestor_category }}</a>
                /
            {% endfor %}
            <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a>
        </div>
        <div class="article-head clear-block">
            <div class="article-date">{{ article.created }}</div>
            <div class="article-views">{{ article.views }}</div>
        </div>
        <h1>{{ article.title }}</h1>
        <div class="social">
            <!-- uSocial -->
            <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
            <div class="uSocial-Share" data-pid="d92141cf546ca9b15571a4bd6dd8b8ae" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size32,eachCounter1,counter0" data-social="vk,ok,fb,twi,telegram" data-mobile="vi,wa,sms"></div>
            <!-- /uSocial -->
        </div>
        {% thumbnail article.cover "830" crop="center" upscale=False as im %}
            <div class="article-{% if im.width < 700 %}minifoto{% else %}bigfoto{% endif %}">
                <img src="{{ im.url }}" width="100%">
            </div>
        {% endthumbnail %}


        {% if article.cover_desc %}
            <div class="article-foto-desc">{{ article.cover_desc }}</div>
        {% endif  %}

        <div class="article-text">
            {{ article.text|safe }}
        </div>
        <div class="article-footer">
            Автор:
            {% for autor in article.authors.all %}
                {{ autor.name }} {{ autor.last_name }}
            {% endfor %}
        </div>
        <div class="tags clear-block">
            <ul>
            {% for tag in article.tags.all %}
                <li><a href="{% url 'articles:tag' tag.slug %}">#{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="article-direct">
            <!-- Yandex.RTB R-A-287200-1 -->
            <div id="yandex_rtb_R-A-287200-1"></div>
            <script type="text/javascript">
                (function(w, d, n, s, t) {
                    w[n] = w[n] || [];
                    w[n].push(function() {
                        Ya.Context.AdvManager.render({
                            blockId: "R-A-287200-1",
                            renderTo: "yandex_rtb_R-A-287200-1",
                            async: true
                        });
                    });
                    t = d.getElementsByTagName("script")[0];
                    s = d.createElement("script");
                    s.type = "text/javascript";
                    s.src = "//an.yandex.ru/system/context.js";
                    s.async = true;
                    t.parentNode.insertBefore(s, t);
                })(this, this.document, "yandexContextAsyncCallbacks");
            </script>
        </div>


    </div>

    {% if related_article_list %}
        <div class="list">
            <h3>Новости по теме</h3>

            {% for related_article in related_article_list %}
                <div class="list-element auto-height clear-block">
                    <div class="list-element-foto">
                        {% thumbnail related_article.cover "400" crop="center" as im %}
                            <img src="{{ im.url }}" width="100%">
                        {% endthumbnail %}
                    </div>
                    <div class="list-element-info">
                        <a class="list-element-title" href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a>
                        <div class="list-element-category">
                            <a href="{{ related_article.category.get_absolute_url }}">{{ related_article.category.title }}</a>
                        </div>
                        <div class="list-element-lid">{{ related_article.intro }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block right %}
    <div class="top-block block">
        <h3>Топ новостей</h3>
        {% for article_top in article_top_list %}
            <div class="top-new">
                <span>{{ article_top.created }}</span> 
                <a href="{{ article_top.get_absolute_url }}">
                    {{ article_top.title }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="recomendation-block block clear-block">
        <h3>Самое свежее</h3>
        {% for article_last in article_last_list %}
            <div class="element-colomn  auto-height">
                <div class="new-colomn">
                    <div class="new-foto">
                        <div class="new-title">{{ article_last.title }}</div>
                        <a class="new-link" href="{{ article_last.get_absolute_url }}"></a>
                    </div>
                    <div class="new-info">{{ article_last.intro }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}